[2016-03-28 10:59] waltertamboer opened #4 "Example script is broken"
The example is broken at the moment.

[2016-03-28 11:12] #4 closed

[2016-03-28 11:13] waltertamboer opened #6 "Setup IRC channel"
It would be nice to have an IRC channel to communicate about changes in the library.

[2016-03-28 11:15] waltertamboer commented on #6
I've setup an IRC channel on Freenode. It's called #phpab

ping @psren

[2016-03-28 11:15] #6 closed

[2016-03-28 11:20] waltertamboer opened #7 "Travis no longer support hhvm-nightly"
Travis CI no longer support hhvm-nightly:
- https://github.com/travis-ci/travis-ci/issues/3788
- https://github.com/facebook/hhvm/issues/5220

The nightly build should be removed from the .travis.yml file. Also PHP 7 should be removed from list of builds that are allowed to fail. Let's aim for full support for PHP7.

[2016-03-28 11:26] waltertamboer commented on #7
Also, php 5.3 and 5.4 are allowed to fail. Both them have reached their end of life as can be seen here: http://php.net/eol.php

[2016-03-28 11:28] #7 closed

[2016-03-28 13:00] HellPat commented on #6
Yep, will join

[2016-03-28 14:14] waltertamboer opened #9 "Integration with pachico/abtest"
Mariano from https://github.com/pachico/abtest has contacted me with the proposal to join forces. This seems like a good idea since his library contains certain functionality that we can nicely integrate into phpab. Also, why work on two libraries while we can make one great library.

We had a chat on IRC and came up with a plan that we will write up what the direction should be of the library. I'

[2016-03-28 14:17] waltertamboer commented on #9
@psren It's clear that you have a strong opinion and it's very much valued so please share your thoughts and ideas so we can make a great library :)

[2016-03-28 14:20] pachico commented on #9
Thanks for the summary, @waltertamboer.
I think, if we combine forces, we could create the ultimate ab test library.
We want it to be not only to be elegant but functional, capable of solving daily necessities, with built-in functionality for most common cases, but also capable of injecting new functionality.

@psren, I hope to see you on-board!

Cheers!

[2016-03-28 16:20] HellPat commented on #9
@pachico cool :-) I look forward to this and have some time in the next weeks as i will need a strong testing lib for work.

[2016-03-28 19:24] psren opened #11 "Test Signature"
At the moment tests are constructed like this:

[code]

where ```$a``` is the control variant and ```$b``` is the test.
What about this

[code]

Instead of ```$b``` an array of variations is accepted. The ```AbTest``` can be renamed to ```Test``` then.
The ```$strategy``` is mandatory now for every test. It's more transparent then falling back to the ```Runner::$strategy```. If the ```$strategy```

[2016-03-28 19:32] HellPat commented on #9
I started with some notes here https://github.com/phpab/phpab/wiki/Roadmap
Would be cool if you all add your comments and your additions there :-)

After that we can talk about the points and i think we have to talk about naming, too ;-)

[2016-03-28 20:02] waltertamboer commented on #11
Ok so three things you suggesting:
1. Rename the `AbTest` class to `Test`. I see no problem with that.
2. Alter the signature so that an array of variations can be provided. Sounds good to me as well except for the docblock. Your docblock suggest a callable or an array of callables. I would suggest to always make it an array. Let's not make it too complicated.
3. Introduce a VariantChooserInterfac

[2016-03-28 20:03] waltertamboer commented on #11
Actually about number 3, yes, that makes sense. The `VariantChooserInterface` should indeed be per test instance so that looks good as well.

We could indeed introduce a factory class, let's make the change first and see how we can make life easier from there on. Good suggestions!!

[2016-03-28 20:10] HellPat commented on #11
Renaming AbTest to Test is a bigger BCbreak. I am aware that the lib may not be used in production for now. But I'd like to avoid too much API-changes in the master branch.

Should we make a develop-branch, clearify the API there, and once ready merge to master?

[2016-03-28 20:36] waltertamboer commented on #9
I have added my comments to the Roadmap.

[2016-03-28 20:40] waltertamboer commented on #11
I agree that we should avoid BC-breaks but we don't have a 1.0.0 release yet. At this point I don't care about BC-breaks since I much rather work towards a stable, usable release.

If it makes you feel more comfortable to introduce a develop branch than go ahead, just know that at some point we are going to introduce a BC-break since the current master is not 1.0.0 worthy. My 2 cents :)

[2016-03-28 21:32] pachico commented on #9
Just added some stuff.
BTW, @psren, we created https://gitter.im/phpab to keep in touch (it works fine in mobile) until something better comes up.

Cheers

[2016-03-28 21:34] pachico commented on #11
I am not particularly concerned about a BC-break.
Another possibility would be to create a new organization with a new name and leave this as it is.
I have no preferences, to be honest.

[2016-03-28 21:52] HellPat commented on #11
I'm going to add an info in the readme that this is work in progress and the API **will** change and stick with master for now.

[2016-03-28 21:59] pachico commented on #11
I'm in favour of creating a new branch for the new joined development where we can fresh start from scratch.
0.1.x-dev, if you want.

[2016-03-28 22:17] HellPat commented on #11
I'm okay with that.

[2016-03-28 22:47] HellPat commented on #11
[code]

Mhhh. Do we really need an extra parameter for the control-group? The control group will never do anything special. So we could just set the cookie to `_control` if the user participates in the control-group. Or am I missing something?

[code]

[2016-03-29 09:21] waltertamboer commented on #11
I think it's a matter of how you look at it. If you leave out the control variant, it means that the current setup will be default behaviour right?

So I have an application where I have a certain configuration. Now I want that configuration to change when my test kicks in. That means that the default configuration is the control variant and the change in configuration is the variant right? In tha

[2016-03-29 10:44] HellPat commented on #11
This PR is not needed anymore snice we're starting from scratch by defining all the interfaces.
The question is still unresolved.

Using the current configuration as one Variant (the Variant which is used for control) makes sense to me. But I'm not sure if there is an other usecase.

Maybe be should accept a control argument. This leads to this ugly array_merge because the control variant should b

[2016-03-29 10:48] pachico commented on #11
Control and Variant are mostly conceptual terms.
I don't see any usage for Control itself since it will be just Variant A (or 0 - BTW, I opened a question about this in the wiki).
It is also consistent with GoogleExperiments, which treats Control as 0.

[2016-03-29 19:21] psren opened #14 "Options for VariantInterface and TestInterface"
The ```VariantInterface``` and ```TestInterface``` should accept for options.
What methods should we provide.

I vote for only add one method called ```getOptions```and against other methods like ```getOption($option)```.

```setOption``` is not needed as well because the options should not change at runtime.
Or does anyone have a scenario for that?

[2016-03-29 19:29] psren opened #15 "Should StorageInterface accept string as key instead of TestInterface"
Should ```StorageInterface``` accept ```string``` as key instead of ```TestInterface```?
We would be a bit more flexible with that later.

For example we could choose a naming-strategy with prefix for group based tests.

[2016-03-29 19:48] psren opened #16 "Enable Scruntinizer Inspections for other branches"
Is inspection for other branches than master disabled in scruntinizer? Could we enable it?

[2016-03-29 19:52] pachico commented on #15
You mean in the constructor or in what method?

[2016-03-29 19:55] pachico commented on #14
Correct, once they're set they shouldn't change and most likely will be fetched together with getOptions.

[2016-03-29 20:00] pachico opened #17 "Does StorageInterface need a clear method?"
I can't see in which case it would be useful and I see many wrong things that could happen if used.
Why would you need it?

[2016-03-30 06:47] HellPat commented on #17
I think we need it if we the user has a Test/Variant in his Cookie and visits the Page.
The $engine->getTest($name) or $test->getOption($name) will throw an exception that is was not found.

(e.g. user removes a finished test)
We can clear the Test for future runs. The name is not perfect I think

[2016-03-30 06:57] HellPat commented on #11
Okay. Let's mote this discusion to the day we're implementing it (an other issue)

[2016-03-30 06:57] #11 closed

[2016-03-30 07:02] HellPat commented on #14
@waltertamboer any concerns on your side on adding a single `getOptions()` to `TestInterface` and `VariantInterface` ?

[2016-03-30 07:05] HellPat commented on #15
All Methods in here: https://github.com/phpab/phpab/blob/master/src/Storage/StorageInterface.php#L33
and here https://github.com/pachico/abtest/blob/master/src/memory/memoryinterface.php#L25

I'm really not sure about that at all :-)

[2016-03-30 07:27] waltertamboer commented on #17
Can you describe the things that can go wrong?

I see one use case: Force the clearing of tests for users so you can reset settings.

[2016-03-30 07:29] waltertamboer commented on #16
Only the master branch was tracked, I've disabled that now so that all branches are tracked. Let's see if that works like expected.

[2016-03-30 07:31] waltertamboer commented on #16
I've also enabled access for you guys to the Scrutinizer project.

[2016-03-30 07:35] waltertamboer commented on #14
No concerns for only having a `getOptions()` method.

[2016-03-30 07:37] waltertamboer commented on #15
I have no opinion about this at all, string sounds fine. The current implementation as well. If you think that a string fits better, go for it. The end user won't have to do anything with this at all since the library will handle storage.

[2016-03-30 07:39] waltertamboer opened #19 "StorageInterface needs a has method"
What do you think? A bit similar to https://github.com/zendframework/zend-authentication/blob/master/src/Storage/StorageInterface.php

[2016-03-30 07:40] waltertamboer commented on #19
has / isEmpty - A method to check if a storage entry exists.

[2016-03-30 07:44] waltertamboer opened #20 "Rename of namespace"
We now have namespace called Phpab\Phpab\... Why is the name in there twice? It should be changed in composer.json and in code.

[2016-03-30 07:44] waltertamboer commented on #20
Also, should it be `Phpab` or `PhpAb` ?

[2016-03-30 07:46] pachico commented on #17
I this case, I wouldn't reset it but create a new test. Any previous test value could simply expire or be ignored.
If you need to "reset", it means that your experiment has ended.
That means you should even provide new tracking ids.

However, I do see that it's a valid functionality (despite of what business case that might respond to) so I agree that it should be up to programmers to decide if to

[2016-03-30 07:46] #17 closed

[2016-03-30 07:49] pachico commented on #20
Probably was a mistake replacing from phpleague skeleton.
I don't have preferences over Phpab vs PhpAb or PhpAB.

However, it's twice because I do see Phpab as a vendor that will provide more packages/modules where the main package is called PhpAb too (unless we want to call it differently, which I don't think it's a good idea).

[2016-03-30 07:51] pachico commented on #20
I mean, I see in the feature something like
PhpAb/PhpAb - Core
PhpAb/ModuleLaravel -- blah
PhpAb/VariantChooserRedis -- blah

All packages that would be suggested via composer (as in https://github.com/thephpleague/flysystem/blob/master/composer.json)

[2016-03-30 07:54] pachico commented on #15
Yes, probably a string would just be enough.

[2016-03-30 07:55] pachico commented on #19
Silly question, what is the entry in a cookie case? Is the cookie there at all or is there an entry for a specific test?

[2016-03-30 08:12] waltertamboer commented on #19
In case of cookies it means: "Does the cookie exists or not?" The `has` (or insert preferred name) method  would simply check if the cookie exists.

[2016-03-30 08:14] HellPat commented on #16
Yeaha, thanks

[2016-03-30 08:14] #16 closed

[2016-03-30 08:16] waltertamboer opened #21 "Enabling disabling tests"
Should it be possible to enable and disable tests? One might want to disable a test but keep the code.

Also see the comment of @pachico in https://github.com/phpab/phpab/issues/17#issuecomment-203298204

[2016-03-30 08:22] pachico commented on #21
Wouldn't that be a policy of a ParticipationStrategyInterface implementation?
Something like:

[code]

[2016-03-30 08:26] psren opened #22 "Add SimpleVariant implementation of VariantInterface"
Regarding to https://github.com/phpab/phpab/pull/18#issuecomment-203295999

[2016-03-30 08:32] waltertamboer commented on #21
Does that mean that you should add a chained participation strategy and add the Disabled strategy to it by default?

[2016-03-30 08:37] pachico commented on #21
Well, that's another approach but I'm also fine with it.

[2016-03-30 08:53] waltertamboer commented on #21
Is that not what you mean? What do you mean than?

[2016-03-30 09:04] pachico commented on #21
I mean that it's not require do be a chainable.
According to the examples we've seen, something like:

[code]

[2016-03-30 09:46] waltertamboer commented on #21
But that means I need to switch out the participation strategy with a custom one if I want to disable my test. If I than want to enable the test again, I need to look in my VCS to see what the original strategy was. Wouldn't it be more easy to just have a boolean flag to indicate whether or not the test is enabled?

[2016-03-30 10:38] pachico commented on #21
I see what you mean and it's a good point.
So, we could:
- have in implementation for ParticipationStrategyContainerInterface that would be ParticipationStrategyChaibable, that contains all other strategies (sort of container) where there could be a method Disable() (or other name) that you can set or not call, right?
- or have that ParticipationStrategyInterface had a method, as you say, setDisab

[2016-03-30 11:04] HellPat commented on #21
I think it shoul'd not be possible to disable Variants but only in thee Test itself.
At this point I am not sure about my Interface definition.

Maybe we should remove `TestInterface:::getParticipationStrategy` and `TestInterface::getVariantChooser` and add it to the definition of `EngineInterface::addTest` as Parameter. Maybe we should think about that.

[2016-03-30 11:07] pachico commented on #21
VariantParticipationStrategy should be set per Test, I think, and not in the Engine itself (you could have different tests with different ones).
Doing it in the Test, however, seems ok.
Any test, could be disabled independently from its strategy.

[2016-03-30 11:24] waltertamboer commented on #21
What I mean is that I can have a full definition of a test but can simply disable it. This will be useful later on if we create integrations with frameworks. For ZF2 I would define all my tests in the config. In such a case it would be nice to simply disable a test:

[code]

[2016-03-30 11:27] pachico commented on #21
Yup, so at Test level and not ParticipationStrategy.

[2016-03-30 11:30] waltertamboer commented on #21
Correct

[2016-03-30 11:49] waltertamboer commented on #21
What do you think @psren ?

[2016-03-30 12:38] HellPat commented on #21
Regarding to my last comment we should move `TestInterface:::getParticipationStrategy`and `TestInterface:::getVariantChooser` away from the test and instead "bloat" the addTest-Method on EngineInterface.

[code]

This way we can have the test in multiple engines (maybe for grouping) and different enabled states per engine. I don't know if it makes sense.

`DisabledStrategy` seems to be correct

[2016-03-30 12:49] pachico commented on #21
I'm just trying to figure out for what reason someone would need two engines at all.

[2016-03-30 15:18] HellPat commented on #19
looks better.
We have to think about other cases too.
1. should there be a prefix per Engine (test can be added to multiple runners => see grouping)
2. Do we need clear method? imo no, because it clears cookies from the application, too
3. do we need isEmpty (as we can check on get() === null)
4. do we need different cookies for each test or should we use one entry per Engine and json_encode/decod

[2016-03-30 15:26] pachico commented on #19
1. it won't hurt if we implement it
2. if we have more than one Engine then we shouldn't clear cookies (which I didn't think about in the first place)
3. I don't think so, it's too generic and different implementations might not require it and I don't want to force people to implement blank methods
4. We should use only one cookie. json_encode/decode is a good way to go. Later down the road we mig

[2016-03-30 15:41] HellPat commented on #21
@waltertamboer and me talked about Grouping of test.
Like "The User should only participate on one Test of Group A".

We already have kind of grouping. (in the engine).

So I'm not sure yet how we can implement it. It could be TestInterface or EngineInterface.
Nevertheless I'm seeing TestInterface getting too big and am more and more concerned that it was a bad descision to move strategy/chooser t

[2016-03-30 15:42] HellPat commented on #21
We could implement som kind of TestBag for internal usage in the runner. The Bag knows about Strategy and Chooser. We will get a better API i think :-D

[2016-03-30 15:49] waltertamboer commented on #19
1. Yes - cookies should be namespaced
2. Why would it clear cookies from the application? It should only clear the cookies for the tests you want to actually clear. Like read has an identifier, clear should have an identifier as well.
3. I can live with that.
4. It's common practice to have as little cookies as possible. Cookies should also be as small as possible. That being said, I guess seriali

[2016-03-30 15:55] waltertamboer commented on #21
@psren Sounds like a good idea. Let's move it to a different issue so we don't have multiple discussions in one issue :)

About the enabling/disabling of tests. I still prefer a getEnabled method in TestInterface. Having a DisabledStrategy in my eyes makes it too complicated. It automatically means you need to setup a chained strategy or something in order to simply disable a test.

[2016-03-30 16:36] psren opened #23 "New labels for the Repository"
## Labels

- implementation
- interface / api
- tests
- easy-pick
- documentation
- blocker

[2016-03-30 16:41] psren opened #24 "Rename ParticipationStrategy"
Strategy seems to be a bit unspecific to me.
It implements one method ```shouldParticipate```.

In a sentence

or

So i am +:100:  for ```PaticipationFilter``` because ```ParticipationChecker``` implies that is checks state (e.g. checks if a user already participates)

[2016-03-30 17:13] waltertamboer commented on #23
Labels have been added.

[2016-03-30 17:13] #23 closed

[2016-03-30 17:16] HellPat commented on #19
4: This is an implementation detail, which can be discussed later then. I see benefits in json because it theoretically allows nested structures (maybe needed for grouping ??)

See https://github.com/phpab/phpab/pull/26 for a first draft

[2016-03-30 17:36] HellPat commented on #21
I agree I renamed the StrategyInterface. I think with the new definition my own confusion is resolved :-D

[2016-03-30 17:51] HellPat commented on #20
My intention was to follow the packagist suggested pattern `{vendor}/{package}` to allow `phpab/namecollideswithnamespaceinmainpackage` in the future. But maybe this is not needed (but i don't care cause my IDE kicks ass :-))

But I am :-1:  for `PhpAB`. Normally abbrevations should be uppercase. But PHP is an abbrevation or name, too (or isn't, I don't know, but its uppercase on http://php.net/)

[2016-03-30 18:02] waltertamboer commented on #19
Allright, it's indeed implementation detail, doesn't really matter at this point.

[2016-03-30 18:17] #24 closed

[2016-03-30 18:18] #19 closed

[2016-03-30 18:18] #15 closed

[2016-03-30 18:19] HellPat commented on #9
I'm closing this as we're not "integrating". We're stealing the features we need :-) We all know the lib and take inspiration from there

[2016-03-30 18:19] #9 closed

[2016-03-30 18:39] pachico commented on #20
PHPAB makes my eyes sad :(

[2016-03-30 18:54] waltertamboer commented on #20
Yeah, same here :) All good with `PhpAb`?

[2016-03-30 18:55] pachico commented on #20
I'm happy with PhpAb. Yup.

[2016-03-30 19:09] HellPat commented on #20
Single or double?

[2016-03-30 20:22] HellPat commented on #21
Everything in here. https://github.com/phpab/phpab/pull/29
Needs to be implemented though

[2016-03-30 20:55] HellPat commented on #20
fixed

[2016-03-30 20:55] #20 closed

[2016-03-30 20:56] HellPat commented on #14
At the moment we moved that to Bag so we can make it available to tests per Engine.
But we will propable need options for Variants and Test too. We will see in the implementation. Adding it will be easy.

[2016-03-30 21:07] #14 closed

[2016-03-30 21:36] psren opened #31 "scuntinizer php-coverage"
I think this is a configuration problem and I don't know scruntinizer that well.
Why is no coverage generated and shown? Any ideas?

[2016-03-31 08:30] waltertamboer commented on #31
How it's generated is described here https://scrutinizer-ci.com/docs/build/code_coverage

I'll look into this later today.

[2016-03-31 12:08] waltertamboer commented on #31
The name of the config file was wrong. The file was called ".scruntinizer.yml" but it should be ".scrutinizer.yml". Fixed this in #33

[2016-03-31 12:15] waltertamboer commented on #31
One more problem that needs to be solved:

[2016-03-31 13:23] HellPat commented on #31
I would never have found that typo. Thx.
And the badges in the Readme are always masterbranch

[2016-03-31 18:07] waltertamboer commented on #31
PR is done and can be reviewed, I've assigned #33 to you @psren

[2016-03-31 19:24] psren opened #35 "Implementation for Interface"
# Interfaces

__Merged items will be strikedthrougt, items with PR will be checked__

Only first implementations are listed here.
More implementations will come. Maybe here in the lib or specific for the bridges.

## Final

- [ ] EngineInterface
   - [ ] Engine
- [x] ~~FilterInterface~~
   - [x] ~~PercentageFilter~~
- [x] ~~StorageInterface~~
   - [x] ~~CookieStorage~~
   - [x] ~~SessionStorage~~

[2016-03-31 19:31] HellPat commented on #35
I only listed implementations which go into the core lib.
Framework specific ones will be added later.

wip-interfaces have no implementations listed yet

[2016-03-31 19:32] HellPat commented on #35
I'm starting with RandomChooser

[2016-03-31 19:35] waltertamboer commented on #35
I'm taking the session storage

[2016-03-31 19:58] pachico commented on #35
Let me apply the changes we discussed about EngineInterface, then

[2016-03-31 20:09] HellPat commented on #35
I will take LotteryFilter next

[2016-03-31 20:18] waltertamboer commented on #35
I'll create a cookie storage next.

[2016-03-31 21:51] HellPat commented on #35
SimpleVariant goes next

[2016-03-31 22:24] #31 closed

[2016-03-31 22:29] HellPat commented on #22
Fixed with #35

[2016-03-31 22:29] #22 closed

[2016-04-01 12:59] waltertamboer opened #43 "Hook up PHP Code Sniffer in Travis"
The code style is not properly checked now. Travis should fail when the code style is not valid.

[2016-04-01 13:21] pachico commented on #43
Is there something I can do about it? I'm not familiar with it, I'm afraid.

[2016-04-01 13:29] waltertamboer commented on #43
It's basically like described here:
https://github.com/thephpleague/skeleton/blob/master/.travis.yml#L23

[2016-04-02 09:34] HellPat commented on #43
You can use the automatic fixer, too with `vendor/bin/phpcbf --standard=psr2 src/ example/ test/` on your local machine.

[2016-04-02 10:11] HellPat commented on #43
It's in

[2016-04-02 10:11] #43 closed

[2016-04-02 10:59] waltertamboer opened #45 "Rename participation keyword in storage"
@psren said this for the set method in StorageInterface:

[2016-04-02 11:23] psren opened #46 "php-mock-phpunit"
There is an extensions for php-mock for php-unit.
https://github.com/php-mock/php-mock-phpunit

We should use that and implement the trait in out test. It's less error prone, since
we need to manually disable the functions in tearDown.

[2016-04-02 11:47] waltertamboer commented on #35
@psren What is SimpleStorage? The runtime storage?

[2016-04-02 11:48] waltertamboer commented on #35
I'm working on the Test implementation

[2016-04-02 12:55] HellPat commented on #35
@waltertamboer It was a stupid late night mistake. I wanted to write "SimpleVariant"

[2016-04-02 13:01] waltertamboer commented on #35
Ok, than I'll continue with the RuntimeStorage :)

[2016-04-02 13:15] waltertamboer opened #47 "Introduce webmozart/assert"
https://github.com/webmozart/assert

I've seen that we're implementing certain checks like is_string, etc. Maybe we should use this library to check preconditions.

What do you think?

[2016-04-02 16:06] HellPat commented on #47
I'd be okay with that :+1:

[2016-04-02 16:09] HellPat commented on #35
haha we're making good progress :-)

[2016-04-02 17:22] pachico commented on #46
I tried it but it didn't work all the times as expected.

[2016-04-02 18:06] HellPat commented on #46
Ah okay. I will try it an other day.

[2016-04-04 07:28] pachico commented on #47
Looks good to me

[2016-04-04 18:00] pachico commented on #46
I think we can close this one for the moment until we want to revise the entire testing platform (if required)

[2016-04-04 18:49] #46 closed

[2016-04-05 08:00] pachico commented on #47
I integrated it for GAnalytics and will implement it in Cookie

[2016-04-13 22:04] pachico opened #60 "Session storage: why to force to have a started session?"
When Session storage is created, its constructor checks for the sessions to have been previously started.
This is why you @psren saw an error, I think.
I'm wondering why is this a requirement.

@waltertamboer , can't we just start it if it hasn't?

[2016-04-14 12:42] waltertamboer commented on #60
The requirement is there because sessions have to be started before the storage is used. I guess we can just start them if they haven't been started yes.

[2016-04-14 12:51] pachico commented on #60
Cool, if we do that, then it will work out of the box.

[2016-04-14 17:41] #60 closed

[2016-04-14 17:42] pachico commented on #60
Applied in PR.

[2016-04-18 10:43] waltertamboer commented on #47
The library has been added as a dependency, we should just use it at the correct places. I'm closing this issue and we can create new issues for places where code needs be changed.

[2016-04-18 10:43] #47 closed

[2016-04-18 10:44] waltertamboer commented on #35
Everything has been done, I'm closing this issue.

[2016-04-18 10:44] #35 closed

[2016-04-18 10:47] waltertamboer opened #63 "Setup website"
We should setup the website https://phpab.github.io. We've decided to use https://github.com/kdawson133/lanyon-master

[2016-04-18 10:48] waltertamboer opened #64 "Write documentation"
When #63 is done we can publish our documentation there. This issue should probably be splitted into subtasks at that moment.

[2016-04-18 10:49] waltertamboer opened #65 "Merge to master and tag 0.1.0"
As far as I know the branch 0.1.x-dev is ready to be merged to master.

[2016-04-18 10:51] waltertamboer opened #66 "Automated documentation publishment"
When we push to phpab/phpab.github.io, Travis CI should build the project and publish the result on https://phpab.github.io

I'd love to see an approach where we can have documentation of multiple versions next to each other. Something like:
* https://phpab.github.io/docs/master/
* https://phpab.github.io/docs/0.1.0/
* https://phpab.github.io/docs/1.0.0/
* etc.

This issue relates to #63 and #64

[2016-04-18 10:52] waltertamboer opened #67 "Automated API documentation publishment"
Travis CI can generated API docs for us (phpDocumentor). It would be nice if we can publish these docs on https://phpab.github.io/

This is probably the same approach as we would use for #66

[2016-04-18 10:54] waltertamboer opened #68 "Wordpress Plugin"
It would be nice if we could write a wordpress plugin so that phpab/phpab can be used in Wordpress sites easily.

[2016-04-18 10:54] waltertamboer opened #69 "Symfony Bundle"
It would be nice to create a Symfony bundle so we can easily use phpab/phpab in Symfony based applications.

[2016-04-18 10:55] waltertamboer opened #70 "ZF2 Module"
It would be nice to create a ZF2 module so that phpab/phpab can easily be used in Zend Framework 2 applications.

[2016-04-18 10:55] waltertamboer commented on #70
I've already started development for this module: https://github.com/phpab/phpab-module

[2016-04-18 10:56] waltertamboer opened #71 "PDO Analytics"
We now have a way to store analytics via Google Analytics. It would be nice to have a PDO storage as well.

[2016-04-18 10:57] waltertamboer opened #72 "MongoDB Analytics"
It would be nice if analytics could be stored in a MongoDB database.

Relates to #71

[2016-04-18 10:58] waltertamboer opened #73 "Extend Filters"
We should brainstorm on different participation filters that phpab/phpab can support. Ideas are are written here: https://github.com/phpab/phpab/wiki/Roadmap#implementations

[2016-04-18 11:02] HellPat commented on #72
I thing we should pick an abstraction layer for that. e.g. doctrine/dbal which can handle both here.

[2016-04-18 11:05] pachico commented on #72
Good idea, and we should define a way to assign a user identification.
GAnalytics does it behind the scenes, but if you want to do your own analytics you have to be able to track a user's behaviour.
I usually do this in these two ways:
- User is logged in: his user id (and this is up to the implementor to inject it)
- User is not logged in: I create a user identifier, store it in non-expiring cook

[2016-04-18 11:07] HellPat commented on #65
yep. I would do that, since it is usable from now.
We can tag 0.1.0 later (i am against tagging before we have at least some docs)

[2016-04-18 11:09] pachico opened #74 "Add cross request tests"
* Mock previous runs data, start engine and make sure analytics is consistent

[2016-04-18 11:10] pachico commented on #65
I agree with y'all.

[2016-04-18 12:33] pachico commented on #45
Is this still valid?

[2016-04-18 12:35] pachico commented on #71
My observations in https://github.com/phpab/phpab/issues/72#issuecomment-211330567 apply to this too.

[2016-04-18 17:50] pachico commented on #74
PR with test done

[2016-04-18 17:50] #74 closed

[2016-04-18 22:08] waltertamboer commented on #65
I did tag 0.1.0 to maintain the old code. After that tag I merged the branch to master so there is no tag for the new code yet. I did want to create the 0.1.0 tag because you'll never know who is using the current code. In order to give them the option to keep using it, the tag makes sense.

[2016-04-18 22:08] #65 closed

[2016-04-19 19:46] waltertamboer commented on #63
I've started working on this just now.

[2016-04-21 08:46] waltertamboer commented on #63
I've setup Sculpin and the layout. It's all present in the source branch of phpab/phpab.github.io. The next thing is automated deployment as described in issue #66

[2016-04-21 08:46] #63 closed

[2016-04-21 19:56] waltertamboer opened #78 "TestExecutionException is never used"
It's only used in a test, that seems weird. What's going on?

[2016-04-21 19:58] waltertamboer opened #79 "EngineLockedException is never used."
Why is it in the code base? Should we sitll implement this somewhere or can it be removed?

[2016-04-21 21:43] waltertamboer opened #80 "No filter set"
The current implementation allows it to add a test without passing a filter. At the same time it's also possible to skip the default filter.

This results in the creation of Bag where a null value is passed as a filter. This gives a catchable fatal error.

My suggestion: We build a check to see if either one of the values is set, if not, we throw an exception.

[2016-04-21 21:44] waltertamboer commented on #80
Specifically:
- https://github.com/phpab/phpab/blob/master/src/Engine/Engine.php#L53
- https://github.com/phpab/phpab/blob/master/src/Engine/Engine.php#L94

[2016-04-22 17:02] HellPat commented on #79
I thought that we should lock the engine if it has ran before. New tests cannot be added after that.
But Im not sure about it anymore. We can leave that problem to userland. What do you think?

[2016-04-22 17:27] HellPat commented on #80
Same was for the chooser, too. Both ones fixed in the Merge-Request.
Please review&merge

[2016-04-22 17:30] HellPat commented on #45
Nope

[2016-04-22 17:30] #45 closed

[2016-04-22 17:38] HellPat commented on #72
@pachico you're aproach seems legit to me. I do not want to overabstract this.
So maybe the `{Mongo/MySql}DatabaseAnalytics` could have a `$analytics->store($userId)`.
I don't think we need a UserInterface or sth like that here and leave that up to the implementing developer which integrates it.

[2016-04-22 17:42] HellPat commented on #73
I just assigned this to 1.1.0 because it is not mandatory for 1.0 imo.
We can implement filters if we want earlier.

[2016-04-22 17:54] HellPat commented on #21
We could easily add a second parameter [here](https://github.com/phpab/phpab/blob/master/src/Engine/Engine.php#L79)  `callable $filter = null` and check the options of the test [here](https://github.com/phpab/phpab/blob/master/src/Engine/Engine.php#L84)

[2016-04-22 17:55] HellPat commented on #78
Merge please

[2016-04-22 18:00] HellPat commented on #73
We need the `ChainedFilter`.
Country & Local are not needed because our interface is so darn simple, that anyone will be able to use it.

For Quick&Dirty use we could provide `ClosureFilter`

[2016-04-22 19:13] #80 closed

[2016-04-22 23:23] HellPat commented on #78
added to develop

[2016-04-22 23:23] #78 closed

[2016-04-23 16:58] pachico opened #83 "DataCollectors not fully tested"
Data collectors have most of their functionality in closures, which are PITA to test.
We used to achieve global 100% test coverage because of EngineTest, otherwise, if DataCollectors are individually tested, they won't be marked as fully covered.
We should add more validation in each closure.
Try, at least, to cover them fully on their own individual tests.

[2016-04-23 18:26] pachico commented on #79
I think it's a good idea to block it, else results might be unexpected.

[2016-04-23 18:51] pachico commented on #72
Pull request is here:
https://github.com/phpab/analytics-mongodb/pull/2

[2016-04-24 16:23] pachico opened #84 "phpDocumentor always in root folder vs in vendor/bin only in development environment"
Following the conversation:
Mariano Benítez Mulet @pachico 12:29

Walter Tamboer @waltertamboer 14:06

Mariano Benítez Mulet @pachico 17:57

I have come up with a proposal.
Composer doesn't have the distinction between dev and no-dev for scripts, but there are libraries that add it.
So, my idea is that in case it's dev:
* Include the lib that teaches composer to distinguish between dev and no dev

[2016-04-25 08:06] waltertamboer commented on #84
Seems useful :+1:

[2016-04-25 08:09] pachico commented on #84
For consistency, then, we could save it as "phpDocumentor" without the ".phar" but it's just cosmetic.

[2016-04-25 08:47] pachico commented on #84
Checking at https://getcomposer.org/doc/articles/scripts.md#package-events, it might be good to trigger the script only after post-package-install and probably have another one to delete it (if present) after post-package-uninstall.
@waltertamboer , what do you think?

[2016-04-26 09:56] waltertamboer commented on #84
Does that mean it will download the phar after each package? That does not seem right.

[2016-04-26 09:57] waltertamboer commented on #84
I would say that `pre-install-cmd` and `post-install-cmd` will do.

[2016-04-26 10:08] pachico commented on #84
Cool, I'll prepare both scripts today, then, and do the PR.

[2016-04-26 19:58] #72 closed

[2016-04-26 19:58] #71 closed

[2016-04-26 21:12] psren opened #87 "Cleanup participates method"
https://github.com/phpab/phpab/blob/master/src/Engine/Engine.php#L167

The method could be split in 3 other methods.

[code]

[code]

[code]

(see https://github.com/phpab/phpab/blob/master/src/Engine/Engine.php#L167)

WDYT? Isn't this a bit too fuzzy?

[2016-04-26 21:43] HellPat commented on #79
Closed, since merged in.

[2016-04-26 21:43] #79 closed

[2016-04-26 22:14] waltertamboer commented on #87
I don't think your suggestion is too fuzzy. It makes sense to me. Why is it needed to return the name of the variant? Because we can also simply remove that and leave the rest as-is.

[2016-04-27 18:45] HellPat commented on #87
So then

[code]

[code]

[code]

[2016-04-27 18:47] waltertamboer commented on #87
Well, can you give me an answer first to my question? :-) Why is it needed to return the name of the variant?

[2016-04-27 18:56] HellPat commented on #87
It is not. Normally. I just have to check for the "blocked" somehow.
So the ``variant === null`. We could fix this with an extra method.

[2016-04-27 18:57] waltertamboer commented on #87
Than we might make it more clear by simply removing that return statement. Or do you still prefer the separate methods? I don't mind either way, the methods look fine to me.

[2016-04-27 19:05] HellPat commented on #87
Okay, i will tackle that with two methods.

[code]

and

[code]

[2016-04-27 21:42] waltertamboer opened #91 "Namespace Cleanup"
The last couple of days I've been working on the Zend Framework 2 module and I noticed that the namespaces we have right now don't always make sense. I think we can make things more logical which will give a more clean feeling of the library. The areas I'm talking about are analytics participation and variants.

## Analytics

We now have these classes:
- *PhpAb\Analytics\DB*
  - `PhpAb\Analytics\D

[2016-04-28 07:45] pachico commented on #91
I agree with everything except:
- PhpAb\Analytics\DataCollector\Database could be named as PhpAb\Analytics\DataCollector\Generic because that's what it is and it happens to be used for database analytics. Having said so, I wouldn't move it out from the core since it could be used by all sort of implementations except Analytics (because it requires the variant index)
- Google Analytics will be, I r

[2016-04-28 18:04] waltertamboer commented on #91
Thanks for your feedback @pachico ! I like your suggestion to rename to Generic. It makes sense.
Let's leave Google Analytics as-is. We can always move it out later if we decide it would be better. That won't be a BC break. :+1:

[2016-04-28 18:08] waltertamboer commented on #70
I've finished the module. You guys can review it. It's located here https://github.com/phpab/phpab-module

[2016-04-28 18:08] #70 closed

[2016-04-28 21:47] #91 closed

[2016-04-29 15:32] HellPat commented on #87
sorry, was off a bit. Will tackle this one today.

[2016-04-29 16:17] pachico opened #93 "Google Analytics Renderers learn to include the API Client"
For both implementations, if parameter true is passed to getScript(), it will return also the Google Analytics API client.

[2016-04-29 17:17] pachico commented on #93
Pull requested.

[2016-04-29 17:17] #93 closed

[2016-04-29 17:24] pachico commented on #84
I think we should revise this.
phpDocumentor and apigen don't seem to work in php7 (yet?) and I don't feel comfortable having things that don't work in versions we claim to support.
Considering documentation will be published in http://phpab.github.io I'd take it out of this package and include it there.

[2016-04-29 22:57] HellPat commented on #87
Mhhh, i played around a bit but wasn't able to get this into shape... could you maybe take a look @waltertamboer ?

[2016-04-30 14:43] waltertamboer commented on #84
Yes, I think this is a good idea! I'll close this issue and setup the build process in phpab/phpab.github.io

[2016-04-30 14:43] #84 closed

[2016-05-01 14:39] waltertamboer commented on #87
I'll pick this up now.

[2016-05-01 17:16] #83 closed

[2016-05-01 17:22] waltertamboer commented on #66
I'll close this issue, we have the documentation written in phpab.github.io now.

[2016-05-01 17:22] #66 closed

[2016-05-01 18:41] waltertamboer commented on #64
We could publish the documentation with the following script (quick test, not production ready)

[code]

[2016-05-02 12:18] #87 closed

[2016-05-04 21:39] pachico opened #98 "Integrate Google Analytics PHP API"

[2016-05-05 18:53] waltertamboer opened #99 "Update the Understanding A/B testing page"
Should we add content here or remove the page? We could add some tips and tricks to help people get started.

@psren Since you've implemented the library, what do you think?

[2016-05-06 16:30] HellPat commented on #99
I'd move this to the first page of introduction.
"What is it for" and write a little text.

[2016-05-08 12:52] waltertamboer commented on #99
Fixed this issue by writing a description of A/B testing on the docs home.

[2016-05-08 12:52] #99 closed

[2016-05-08 12:54] #64 closed

[2016-05-09 07:31] waltertamboer commented on #68
I've started working on this issue.

Must haves for a first version:
- UI to create tests and variants.
- Per test it will be possible to set the participation filter and storage
- A settings page to set the default storage and participation filter.
- A function `phpab_is_active($test, $variant = null)` that can be used in templates to check if a test and/or variant is active. This function will b

[2016-05-09 09:25] pachico commented on #68
Does Wordpress have a custom Session/Cookie handler?

[2016-05-09 09:27] waltertamboer commented on #68
Nope... :(

[2017-03-08 11:18] hikaru-shindo opened #104 "Support optimizely"
Support tests by optimizely.com.

Optimizely is a service for doing experiments, it should also be supported by an A/B-Test library.

[2017-03-08 16:15] waltertamboer commented on #104
Sounds like a great idea. It looks like the [REST api](https://developers.optimizely.com/classic/rest/v1/) is good enough for us to make an implementation. I'll try to add support this week. :+1:

[2018-03-08 22:18] JeyFisher commented on #68
Does exist any release of the WP plugin?

[2018-05-06 12:41] gety9 opened #105 "Google Optimize"
Guys hi,

It's more a question that an issue. Right docs explain how to set up [Google Analytics Experiments](https://phpab.github.io/docs/components/google-analytics-experiments/index.html).

Now since Google Optimize is out/free are there plans to add support of Google Optimize? There is even a note in Google Analytics saying "Google Optimize is the free, preferred way to run experiments. Analyt

[2018-05-06 12:45] gety9 commented on #98
@pachico

Did you mean to send data to GA server side (php), instead of client side(including js snippets)?

Can this be used https://github.com/theiconic/php-ga-measurement-protocol ?

[2022-08-21 20:34] michacassola commented on #68
Hi, is this still in progress?